:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    /* 1rem = 10px*/
}

h1.titulo {
    text-align: center;
    font-size: 3.8rem;
    /* color: var(--secundario); */
}

.titulo {
    text-align: center;
    font-size: 2rem;
}

.contenedor {
    width: 120rem; /* 1200px */
        margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    padding: 1rem;
}

.navegacion-principal a {
   color: var(--blanco);
   text-decoration: none;
}