:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #dfe9f3;

}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Truco para Box Model, permite que el padding no se solape */
}

*, *:before, *:after {
    box-sizing: inherit; /* El * es un selector universal */
}

body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}

.contenedor {
    max-width: 120rem; /* 1200px */
        margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton {
        width: auto;
    }
    
}

.sombra {
    /* -webkit-box-shadow: 0px 5px 15px 0px rgba(173,173,173,0.55);
    -moz-box-shadow: 0px 5px 15px 0px rgba(173,173,173,0.55); no es necesario porque los navegadores acepta box shadow*/
    box-shadow: 0px 5px 15px 0px rgba(173,173,173,0.55);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;

}

h3 {
    font-size: 1.8rem;

}

h1,h2,h3 {
    text-align: center;
}

/* Titulos */
.titulo span {
    text-align: center;
    font-size: 2rem;
}

/* Navegacion Principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
/*  flex-direction: row; es el normal flex-direction: column; es para columnas */
    }
    
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row; /* row es default */
        justify-content: space-between; /* align-items: center; es para columnas */
    }    
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .6); /* Anterior */
    background-color: rgb(0 0 0 / 60%); /* Sintaxis más moderna pero con menos soporte */
    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco)
}

.ubicacion {
    display: flex;
    align-items: center;
}

/* Servicios */
@media (min-width: 768px) {
    
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Repeat es igual que 1fr 1fr 1fr 33.3% */
        column-gap: 1rem;
        /* grid-template-columns: 300px 300px;
        grid-template-rows: 200px 800px; */
        /* grid: 200px 800px / 300px 300px;  */ /* Mejor sintaxis */
    }    

}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}